<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="{$site_info.keywords}">
	<meta name="description" content="{$site_info.miaoshu}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>解决方案-{$site_info.sitename}</title>
	<link href="__PUBLIC__/csswap/head_foot.css" rel='stylesheet' type='text/css' />
	<link href="__PUBLIC__/csswap/solution.css" rel='stylesheet' type='text/css' />
	<link href="__PUBLIC__/csswap/bootstrap.css" rel='stylesheet' type='text/css' />
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/setHolder.js"></script>
	<style type="text/css">
	.subpass{
		margin-bottom: 13px;padding-bottom: 13px;border-bottom: 1px dashed #05A6B3; 
	}
	</style>
</head>
<body>
<include file="Public/template/header_wap.html"/>
<!-- 头部结束 -->
<div class="solution_bg">		
</div>
<div class="position">
	<div class="container">
		<div class="row">
		<div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
			当前位置：<a href="__URL__/index">首页</a>&nbsp;-&nbsp;<span id="position">解决方案</span>
		</div>
		</div>
	</div>
</div>
<div class="container intro">
	<div>		
<div class="dropdown visible-xs">
    <button type="button" class="btn dropdown-toggle btn-primary btn-block" id="dropdownMenu1" data-toggle="dropdown">解决方案
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    	<volist name="tt" id="vol">
    	<li role="presentation" class="list-group-item">
            <a role="menuitem" tabindex="-1" href="__URL__/solution/id/{$vol.id}">{$vol.maintitle}</a>
        </li>
        </volist>
    </ul>
</div>
	</div>
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3 left_nav">
			<div class="title">
			<h3>解决方案</h3>
			</div>
			<ul class="list-group">
				<volist name="tt" id="vol">
				<li class="list-group-item">
				<!-- <a href="__URL__/solution/id/{$vol.id}"> -->
					<img src="__PUBLIC__/images/left_decorate.png" >
					<a>{$vol.maintitle}</a>
				<!-- </a> -->
				<input type="hidden" value="{$vol.id}" class="solutionID">
				</li>
				</volist>
			</ul>
		</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 right_nav">
			<div class="solution">
				<div class="h3">
					<h3 id="maintitle">{$solution.maintitle}</h3>
				</div>
				<div id="passage" class="passage">
					<volist name="sub_list" id="vol">
						<div class="row subpass">	
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 image">
							<img src="__ROOT__/{$vol['image']}" class="img-responsive">
							</div>
							<div class="col-xs-8 col-sm-8 col-lg-8 col-md-8 soltitle">
								<h4>{$vol['maintitle']}</h4>
								<h5 class="subtitle">{$vol['subtitle']}</h5>
								<div>
								{:msubstr(strip_tags($vol['passage']),0,80)}
									<a title="{$vol['maintitle']}" href="__URL__/content?type=sol&id={$vol.id}" class="detail" target="_blank">[查看详细]</a>
								</div>
							</div>
						</div>
					</volist>
				</div>
			</div>
		</div>
		</div>
	</div>		
</div>
<!-- 底部开始 -->
<include file="Public/template/footer_wap.html"/>
<script type="text/javascript">
$("input").placeholder();
$(function(){
	$('#passage ol').css('paddingLeft','20px');
	$('#passage ol li').css('padding','0');
	$('.right_nav img').addClass('img-responsive');
	$('.solution').eq(0).show().siblings('.solution').hide();
})
</script>
</body>
</html>