<!DOCTYPE html>
<html>
<head>
<title>首页-{$site_info.sitename}</title>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="initial-scale=1.0"> -->
<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" /> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="{$site_info.keywords}">
<meta name="description" content="{$site_info.miaoshu}">
<link href="__PUBLIC__/css/index.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/head_foot.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/slider.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/setHolder.js"></script>

<!-- <script type="text/javascript" src="__PUBLIC__/js/zepto_min.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/TouchSlide.1.1.js"></script>
<style type="text/css">
input{font-size:14px;}
</style>
</head>
<body>
{$site_info.Keywords}
<include file="Public/template/header.html"/>
<!-- 导航结束 -->
<span id="position" style="display: none;">网站首页</span>
<div class="banner" id="banner" style="background-position: 1px 1px,1px 700px,1px 700px,1px 700px,1px 700px;">
	<div class="container">
		<volist name="title" id="tt">
		<div class="slide" style="display: none;">
			<h1 class="hwhite">{$tt.maintitle}</h1>
			<h3 class="hblue">{$tt.subtitle}</h3>
			<p class="sp1">
			{$tt.content}
			</p>
			<p class="sp2 pull-left"><!--   -->
				<a class="ak" href="__URL__/solution?id={$tt.id}">了解更多</a>
			</p>
		</div>
		</volist>		
	</div>
	<ol class="point">
		<li><img class="cc" src="__PUBLIC__/images/circle1.png"></li>
		<li><img class="cc" src="__PUBLIC__/images/circle2.png"></li>
		<li><img class="cc" src="__PUBLIC__/images/circle2.png"></li>
		<li><img class="cc" src="__PUBLIC__/images/circle2.png"></li>
		<li><img class="cc" src="__PUBLIC__/images/circle2.png"></li>
	</ol>
</div>

<!-- <div id="focus" class="focus visible-xs">
      <div class="hd">
        <ul>
        </ul>
      </div>
      <div class="bd">
        <ul>
		<for start="0" end="count($ban)">
		<li>
		<p class="wenzi">
		{$title[$i]['maintitle']}
		<br><br>
		<span class="green">{$title[$i]['subtitle']}</span>		
		</p>
<img name="ad_img" class="img-responsive" src="__ROOT__/Uploads/banner_imgs/{$ban[$i]['image']}">
		</li>
		</for>
	</ul>
      </div>
    </div> -->
    <script type="text/javascript">
	TouchSlide({ 
		slideCell:"#focus",
		titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
		mainCell:".bd ul",
		delayTime:600,
		interTime:4000,
		effect:"leftLoop", 
		autoPlay:true,//自动播放
		autoPage:true, //自动分页
		switchLoad:"_src" //切换加载，真实图片路径为"_src" 
	});
	</script>



<div class="follow">
	<volist name="title" id="tt">
	<a href="__URL__/solution?id={$tt.id}">
	<div class="ban">
		<h3>{$tt.maintitle}</h3>
		<p>{$tt.content}
		</p>
	</div>
	</a>
	</volist>
</div>

<div class="about">
	<div class="begin">
		<h1>关于科发鑫</h1>
		<p>ABOUT US</p>
	</div>
	<div class="container after">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<img src="__PUBLIC__/images/kfx.gif" width="100%">
			</div>
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				
				<p>深圳市科发鑫电子有限公司是一家集成电路软、硬件研发销售为主的高科技企业。
专注于消费性电子，无线充电、穿戴式设备、健康医疗、移动终端等新兴领域提供高端芯片和电源解决方案，公司技术积累雄厚，专业生产/销售电源管理IC、无线充电发射/接收IC,稳压LDO、升压IC，降压IC、LED驱动IC、电压检测IC，锂电池充电管理IC、MOS管等系列产品。</p><!-- 
<p>产品种类广泛，为客户提供一站式电源解决方案。 
<p>公司产品主要面向消费类、电子类客户，
广泛应用手机、通信、医疗、智能家居、智能穿戴、数码产品、玩具、车载、适配器、LED照明类产品，
众多产品已经远销欧美，赢得客户一致赞许。 </p>
<p>科发鑫电子本着“品质第一，信守承诺，永续经营”的企业宗旨，努力为便携电子行业，
汽车电子行业、医疗用品行业，电动玩具行业，照明行业提供高性价比的集成电路产品。
我们向用户提供到位的产品售前、售后服务。</p> -->
<p>凝聚了一支朝气蓬勃，积极向上，勇于创新的研发和管理团队，其工程技术人员大多在集成电路行业拥有十年以上的从业经验，随时向客户提供专业化服务。</p><p>我们的目标是以优质的产品、高效的服务，满足顾客日益增长的需要，努力成为集成电路行业一流的供应商。
<p class="pk pull-right">
	<a class="more" href="__URL__/aboutus">了解更多</a>
</p>
			</div>
		</div>
	</div>
</div>
<div class="fuxing">
</div>

<div class="container inform">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<h3>技术资讯</h3>
			<volist name="news_list" id="vol">
			<p class="black"><a href="__URL__/content/id/{$vol.id}">{$vol.title}</a></p>
			<p class="gray">
			{:msubstr(strip_tags($vol['content']),0,80)}
			</p>
			</volist>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<h3>最新动态</h3>
			<volist name="zixun_list" id="vol">
			<p class="black"><a href="__URL__/content/id/{$vol.id}">{$vol.title}</a></p>
			<p class="gray">
			{:msubstr(strip_tags($vol['content']),0,40)}
			</p>
			</volist>
		</div>
	</div>
</div>
<!-- visible-xs -->
<!-- <div class="container visible-xs">
		<div class="move">
			<h3>最新动态</h3>
			<volist name="zixun_list" id="vol">
			<p class="black"><a href="__URL__/content/id/{$vol.id}">{$vol.title}</a></p>
			{:msubstr(strip_tags($vol['content']),0,20)}
			</p>
			</volist>
		</div>
</div> -->
<div class="partners">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>合作伙伴</h1>
				<h1>OUR PARTERS</h1>
			</div>
		</div>
		<div class="row">
			<volist name="flink" id="vol">
				<div class="flink col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<img src="__ROOT__/{$vol.logo}" title="{$vol.website}" >
				</div>
			</volist>
		</div>
		<!-- <div class="row visible-xs">
			<foreach name="flink" item="vol">
			<if condition="$key lt 3">
			<div class="col-xs-4">
				<img src="__ROOT__/{$vol.logo}" title="{$vol.website}">
			</div>
			</if>
			</foreach>
		</div> -->
		<!-- <div class="row visible-xs flink">
			<foreach name="flink" item="vol">
			<if condition="$key egt 3">
			<div class="col-xs-4">
				<img src="__ROOT__/{$vol.logo}" title="{$vol.website}">
			</div>
			</if>
			</foreach>
		</div> -->
	</div>
</div>

<!-- 底部开始 -->
<include file="Public/template/footer.html"/>
<script type="text/javascript">
    $("input").placeholder();
$(function(){

	// var str = {$banner};
	// var arr = eval(str);//
	// //alert(arr[1]['image']);
	// var img_str = "url(__ROOT__/Uploads/banner_imgs/"+arr[0]['image']+"),url(__ROOT__/Uploads/banner_imgs/"+arr[1]['image']+"),url(__ROOT__/Uploads/banner_imgs/"+arr[2]['image']+"),url(__ROOT__/Uploads/banner_imgs/"+arr[3]['image']+"),url(__ROOT__/Uploads/banner_imgs/"+arr[4]['image']+")";
 //  $(".banner").css('backgroundImage',img_str);
})
</script>
</body>
</html>