<!DOCTYPE html>
<html>
<head>
    <meta content="IE=11.0000" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>test</title>
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="./public/js/gfLogin.js"></script>
<body>
      
      <!--  <a href="https://cdn.gfzq.cn/gf-trader/safe_plugins/GF-LoginHelper-0.0.3.exe" class="installSecTips" title="安装后请刷新页面！" target="_blank">点击安装新版安全控件</a>    https://localhost.gf.com.cn:37022/version

      scd:-2 <span class="useridIcon"></span>
        <span class="passwordIcon"></span>

         SAFE_URL_PC: "https://cdn.gfzq.cn/gf-trader/safe_plugins/GF-LoginHelper-0.0.3.exe",
            SAFE_URL_MAC: "https://cdn.gfzq.cn/gf-trader/safe_plugins/GF-LoginHelper-0.0.3.pkg"
sdc:[150168][无此客户号] -->
      </div>
      
   
  <form id="LoginForm">
    <div>
     <input id="user" type="text"  placeholder="客户编号" name="user_id" value="">
    </div>
     <div id="checkEnc"></div>
     <input id="btnLogin" type="button" value="登录" onClick="sendAjax()"/>  
     <div id="result">发送</div>
    
  </form>




<script type="text/javascript">

  </script>

</script>
</body>
</html>