<!-- <script src="__PUBLIC__/js/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sweetalert.css"> -->
<div class="foot">
</div>
<div class="footer">
		<div class="container">
		<!-- visible-xs小屏幕不可见__开始 -->
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 info1">
				<figure>
                    <h4>信息</h4>
                    <ul>
	                    <li><a title="产品中心" href="__URL__/service">产品中心</a></li>
	                    <li><a title="应用方案" href="__URL__/solution">应用方案</a></li>
	                    <li><a title="最新资讯" href="__URL__/technology">最新资讯</a></li>
	                    <li><a title="联系我们" href="__URL__/contactus">联系我们</a></li>
                    </ul>
                </figure>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 info2">
					<figure>
                    <h4>产品系列</h4>
                    <ul>
	                    <volist name="btm_list" id="vol">
	                    	<li>
	                    	<a title="{$vol.name}" href="__URL__/service?id={$vol.id}">
	                    			{$vol.name}
	                    		</a>
	                    	</li>
	                    </volist>
                    </ul>
                </figure>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 info3">
					<figure>
                <h4>产品方案</h4>
                <ul>
                    <volist name="solution_list" id="vol">
	                    	<li>
	                    		<a title="{$vol.maintitle}" href="__URL__/solution/id/{$vol.id}">
	                    			{$vol.maintitle}
	                    		</a>
	                    	</li>
	                </volist>
                </ul>
            </figure>    
				</div>	
				<div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 info4">
			<figure>
                <h4>联系我们</h4>
                <ul>
                    <li><a title="">
                    总机：{$site_info.zongji}</a></li>
                    <li><a title="">
                    VIP专线：{$site_info.phone}</a></li>
                    <li><a title="">
                    邮箱：{$site_info.email}</a></li>
                    <li><a title="">
		            QQ：{$site_info.qq}</a></li>
                    <!-- <li><a title="" class="show_code" class="show_code">
                    <img src="__PUBLIC__/images/weixin.png">&nbsp;：科发鑫 </a></li>
                    <li class="btm_wx" style="display:none;">
                    	<img src="__PUBLIC__/images/contact_weixin.gif">
                    </li> -->
                </ul>
            </figure>    
				</div>
				<div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 info5">
			<figure>
                <h4>给我们留言</h4>
                <!-- <form action="__URL__/addLiuYan" method="post" onsubmit="return checkForm();"> -->
                <ul id="liuyan">
                    <li><input id="name" name="name" type="text" placeholder="称呼(必填)"></li>
                    <li><input id="phone" name="phone" type="tel" placeholder="电话(必填)"></li>
                    <li><textarea id="content" placeholder="您的留言" name="content"></textarea></li>
                    <li><input type="button" class="btn btn-primary" value="提交" id="submit"></li>
                </ul>
                <!-- </form> -->
            </figure>    
				</div>	
			<div class="clearfix"></div>
			</div>
		</div>
</div> 

<script type="text/javascript">
// $('.show_code').mouseover(function(){
// 	$('.btm_wx').slideDown();
// })
// $('.show_code').mouseout(function(){
// 	$('.btm_wx').fadeOut(100);
// 	$('.btm_wx').stop(false,true);
// })
$(function(){
	$('#submit').click(function(){
		var name = $('#name').val();
		var phone = $('#phone').val();
		var content = $('#content').val();
		var reg_tel = /^1[34578]\d{9}$/;
		var con_len = content.trim();
		var name_len = name.trim();
		if (name_len.length == 0) {
			alert('称呼不能为空');
			$('#name').focus();
			return false;
		}
		if (!reg_tel.test(phone)) {
			alert('手机号格式不正确');
			$('#phone').focus();
			return false;
		}
		if (con_len.length <= 0) {
			alert('留言内容不能为空');
			$('#content').focus();
			return false;
		}
		var info = [phone,name,content];
		var json = JSON.stringify(info);
		// alert(json);
		// return false;
		$.ajax({
			type:'get',
			dataType:'text',
			url:'__URL__/addLiuYan?json='+json,
			success:function(data){
				if (data==1) {
					swal('留言成功','感谢您的留言','success');//
				}else{
					swal('留言失败','未知错误，请联系客服','error');//
				}
			}
		})		
	})
})

</script>