<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mycss.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
  <!-- <script type="text/javascript" src="__PUBLIC__/utf8_php/ueditor.config.js"></script>
    编辑器源码文件
<script type="text/javascript" src="__PUBLIC__/utf8_php/ueditor.all.js"></script> -->
	<style type="text/css">
    input[name='name']{width:300px;}
    table th,table td{text-align: center;}
    .tb{margin:0 auto;}
    .tb td{text-align: left;padding:3px;}
    .hide_table{width:90%;border:1px solid red;margin: 20px auto;}
  	</style>
</head>
<body>
<div class="container biaoti">
	<span>产品系列管理</span>
</div>
<div class="container">
<table class="table table-bordered">
    <tr>
      <td colspan="5">
        <form action="__URL__/seriesManage" method="post">
          <input type="text" name="name">
          <input type="submit" name="submit" value="查询">
        </form>
      </td>
    </tr>
    <tr>
      <th>系列ID</th>
      <th>名称</th>      
      <th>子类</th>
      <th>网站底部推荐</th>
      <th>操作</th>
    </tr>
  <tbody>
  <volist name="page_list" id="vol" empty="暂无记录">
    <tr>
      <td>{$vol.id}</td>
      <td>{$vol.name}</td>
      <td>
        <if condition="count($vol['subseries']) gt 0">
        <table class="tb">  
         <tr>
            <td class="mycenter">名称</td>
            <td class="mycenter">操作</td>
            <td class="mycenter">推荐</td>
          </tr>
          <for start="0" end="count($vol['subseries'])">         
          <tr>
            <td>{$vol['subseries'][$i]['name']}</td>
            <td class="align_center"><a class="delseries">删除</a>
            <input type="hidden" class="seriesID" value="{$vol['subseries'][$i]['id']}">
            |
            <a class="update">修改</a>
<!-- 遮罩层开始 -->
<div class="hide_sheet">
  <form action="__URL__/updateSeries/id/{$vol['subseries'][$i]['id']}" method="post" enctype="multipart/form-data" onsubmit="">
    <table class="hide_table table table-bordered">
      <tr>
        <td colspan="2">
        <span class="close_sheet glyphicon glyphicon-remove pull-right"></span>
        </td>
      </tr>
      <tr>
        <td class="myright">产品系列名称：</td>
        <td class="align_left"><input type="text" name="name" value="{$vol['subseries'][$i]['name']}"></td>
      </tr>
      <tr>
        <td class="myright">网站底部推荐：</td>
        <td class="align_center"><input type="text" name="show" value="{$vol['subseries'][$i]['recomend']}"></td>
      </tr>
      <tr>
        <td class="myright">关键字：</td>
        <td class="align_left" colspan="3">
        <textarea placeholder="关键字之间使用英文逗号分隔开" name="keywords" cols="60" rows="3">{$vol['subseries'][$i]['keywords']}</textarea>
        </td>
      </tr>
      <tr>
        <td class="myright">描述：</td>
        <td class="align_left" colspan="3">
        <textarea placeholder="" name="miaoshu" cols="60" rows="3">{$vol['subseries'][$i]['miaoshu']}</textarea>
        </td>
      </tr>
      <tr>
        <td class="mycenter" colspan="2">
          <input type="submit" name="submit" value="确认修改" class="btn btn-primary">
        </td>
      </tr>
    </table>
  </form>
</div>
<!-- 遮罩层结束 -->
            |
            <a href="__URL__/attributeManage?id={$vol['subseries'][$i]['id']}">属性管理</a>
            |
            <a href="__URL__/addProduct?id={$vol['subseries'][$i]['id']}">添加产品</a>
            |
            <a href="__URL__/productManage?id={$vol['subseries'][$i]['id']}">产品管理</a>

            </td>
            <td class="mycenter">{$vol['subseries'][$i]['recomend']}</td>
          </tr>
          </for>
        </table>
        <else/>
        无子类
        |<a href="__URL__/attributeManage?id={$vol.id}">属性管理</a>
        |<a href="__URL__/addProduct?id={$vol.id}">添加产品</a>
        |<a href="__URL__/productManage?id={$vol.id}">产品管理</a>
        </if>        
      </td>
      <td>{$vol.recomend}</td>
      <td>
        <button class="update btn btn-primary btn-sm">
        修改
        </button>
<!-- 遮罩层开始 -->
<div class="hide_sheet">
  <form action="__URL__/updateSeries/id/{$vol.id}" method="post" enctype="multipart/form-data" onsubmit="">
    <table class="hide_table table table-bordered">
      <tr>
        <td colspan="2">
        <span class="close_sheet glyphicon glyphicon-remove pull-right"></span>
        </td>
      </tr>
      <tr>
        <td class="align_right">产品系列名称：</td>
        <td class="align_left"><input type="text" name="name" value="{$vol.name}"></td>
      </tr>
      <tr>
        <td class="align_right">网站底部推荐：</td>
        <td class="align_left"><input type="text" name="show" value="{$vol.recomend}"></td>
      </tr>
      <tr>
        <td class="align_right">关键字：</td>
        <td class="align_left" colspan="3">
        <textarea placeholder="关键字之间使用英文逗号分隔开" name="keywords" cols="60" rows="3">{$vol.keywords}</textarea>
        </td>
      </tr>
      <tr>
        <td class="align_right">描述：</td>
        <td class="align_left" colspan="3">
        <textarea placeholder="" name="miaoshu" cols="60" rows="3">{$vol.miaoshu}</textarea>
        </td>
      </tr>
      <tr>
        <td class="align_center" colspan="2">
          <input type="submit" name="submit" value="确认修改" class="btn btn-primary">
        </td>
      </tr>
    </table>
  </form>
</div>
<!-- 遮罩层结束 -->
	      <button class="delseries btn btn-danger btn-sm">
	      删除
	      </button>
	      <input type="hidden" class="seriesID" value="{$vol.id}">
      </td>
    </tr>
  </volist>
  <tr>
    <td colspan="5" class="pager align_center">
        {$page_show}
      </td>
  </tr>
  <tr>
    <td colspan="5" class="pager align_center">
        
      </td>
  </tr>
  </tbody>
</table>
</div>
<script type="text/javascript">
$(function(){
  $('.mycenter').css('textAlign','center');
  $('.myright').css('textAlign','right');
  $('.update').click(function(){
    $(this).next('.hide_sheet').show();
  })
  $('.hide_sheet').find('.close_sheet').click(function(){
      $('.hide_sheet').hide();
  });

	$('.delseries').click(function(){
		if (confirm('确认删除?')) {
			var id = $(this).next('.seriesID').val();
			$.ajax({
				type:'get',
				dataType:'text',
				url:'__URL__/delSeries/id/'+id,
				success:function(data){
					//alert(data)
					if (data==1) {
						location.reload();
					}else{
						alert('删除失败');
					}
				}
			})
		}
	})	
})
</script>

</body>
</html>