<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="{$site_info.keywords}">
	<meta name="description" content="{$site_info.miaoshu}">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
	<title>Solutions-{$site_info.sitename}</title>
	
	<link href="__PUBLIC__/css/solution.css" rel='stylesheet' type='text/css' />
	<link href="__PUBLIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="__PUBLIC__/css/head_foot.css" rel='stylesheet' type='text/css' />
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/setHolder.js"></script>
	<style type="text/css">
	</style>
</head>
<body>
<include file="Public/template/header_en.html"/>

<!-- 头部结束 -->
<div class="solution_bg" style="background-image: url(__PUBLIC__/images/sub_solution_bg.jpg);">		
</div>
<div class="position">
	<div class="container">
		<div class="row">
		<div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
			Current Location：<a title="Home" href="__APP__/Home/English/index">Home</a>&nbsp;-&nbsp;<span id="position">Solutions</span>
		</div>
		</div>
	</div>
</div>
<div class="container intro">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left_nav">
			<div class="title">
			<h3>Solutions</h3>
			</div>
			<ul class="list-group">
				<volist name="tt" id="vol">
				<li class="list-group-item" style="padding-left: 15px;">
				<!-- <a href="__URL__/solution/id/{$vol.id}"> -->
					<img src="__PUBLIC__/images/left_decorate.png" style="margin-left: 0px;">
					<a title="{$vol.maintitle}" href="__APP__/Home/English/solution?id={$vol.id}">
					{:msubstr(strip_tags($vol['maintitle']),0,15)}</a>
				<input type="hidden" value="{$vol.id}" class="solutionID">
				</li>
				</volist>
			</ul>
			<div class="title">
			<h3>Contact Us</h3>
			</div>
			<ul class="contact">
				<li style="padding:0;
	padding-bottom:3px;">{$res.company}</li>
				<li style="padding:0;
	padding-bottom:3px;">Linkman：{$res.person}</li>
				<li style="padding:0;
	padding-bottom:3px;">Phone：{$res.phone}</li>
				<li style="padding:0;
	padding-bottom:3px;">Tel：{$res.zongji}</li>
				<li style="padding:0;
	padding-bottom:3px;">QQ：{$res.qq}</li>
				<li style="padding:0;
	padding-bottom:3px;">Email：{$res.email}</li>
				<li style="padding:0;
	padding-bottom:3px;">Address：{$res.address}</li>
			</ul>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 right_nav">
			<div class="solution">
				<div class="h3">
					<h3 id="maintitle">{$solution.maintitle}</h3>
				</div>
				<div id="passage" class="passage">
					<volist name="sub_list" id="vol">
						<div class="row subpass">	
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 image">
							<img src="__ROOT__/{$vol['image']}" class="img-responsive">
							</div>
							<div class="col-xs-8 col-sm-8 col-lg-8 col-md-8 soltitle">
								<h4>{$vol['maintitle']}</h4>
								<h5 class="subtitle">{$vol['subtitle']}</h5>
								<div>
								{:msubstr(strip_tags($vol['passage']),0,80)}
									<a title="{$vol['maintitle']}" href="__APP__/Home/English/content?type=sol&id={$vol.id}" class="detail" target="_blank">[details]</a>
								</div>
							</div>
						</div>
					</volist>
				</div>
			</div>
		</div>
	</div>		
</div>
<!-- 底部开始 -->
<include file="Public/template/footer_en.html"/>
<script type="text/javascript">
$("input").placeholder();
$(function(){
	$('#passage ol').css('paddingLeft','20px');
	$('#passage ol li').css('padding','0');
	$('.right_nav img').addClass('img-responsive');
	$('.solution').eq(0).show().siblings('.solution').hide();
	// $('.list-group-item').click(function(){
	// 	var h3 = $(this).find('a').text();
	// 	$('#maintitle').text(h3);
	// 	var i = $(this).index();
	// 	var solid = $(this).find('.solutionID').val();
	// 	$(this).addClass('act').siblings('.act').removeClass('act');
	// 	$('.solution').eq(i).show().siblings('.solution').hide();
	// 	$.ajax({
	// 		type:'get',
	// 		dataType:'text',
	// 		url:'__URL__/getPassage/solid/'+solid,
	// 		success:function(data){
	// 			$('#passage').html(data);
	// 		}
	// 	})
	// })
})
</script>
</body>
</html>