div.position{
	height: 42px;
	border-bottom:1px solid #ccc;
	margin-bottom: 10px;
	padding-left:0%;font-size:16px;
	/*background: url(../images/top_bg.gif);*/
}
ul.series{
	/*display: none;*/

}
ul.series li a{color:#333;}
div.content{/*border:1px solid red;*/
	line-height: 42px;padding-left:0px;color:#333;font-size:16px;
}
div.content a{
	color:#333;text-decoration: none;font-size:16px;
}
div.content a:hover{
	color:#05A6B3;
}
.name_list{
	display: none;
}
ul{list-style: none;}
div.service{
	height: 280px;
	background-image: url(../images/service.jpg);
	background-position: center;
}
div.right_nav .h3{
	font-family: '微软雅黑';color:#333;
}
li#down_dir{
	background: #fbfbfb;text-align: center;
	padding-top: 0px;margin-top: 0;
	height: 26px;border:1px solid #ccc;
	list-style-type: none;
}
@media screen and (max-width: 767px) {
	div.service{
		height: 150px;
		background-size:300%;
		background-repeat: no-repeat;
		background-image: url(../images/service.jpg);
		background-position:50% 50%;
	}
}
@media screen and (min-width: 768px) and (max-width:991px) {
	
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	
}
@media screen and (min-width: 1200px) {
	
}