<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mycss.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
	<style type="text/css">
    table th,table td{text-align: center;}
    table.table{width:80%;margin: 0 auto;}
  	</style>
</head>
<body>
<div class="container biaoti">
	<span>友情链接管理</span>
</div>
<div class="container">
<table class="table table-bordered">
    <!-- <tr>
      <td colspan="3">
        <form action="__URL__/seriesManage" method="post">
          <input type="text" name="name">
          <input type="submit" name="submit" value="查询">
        </form>
      </td>
    </tr> -->
    <tr>
      <th>网站名称</th>
      <th>链接网址</th>
      <th>LOGO图片</th>
      <th>操作</th>
    </tr>
  <tbody>
  <volist name="flink" id="vol" empty="暂无记录">
    <tr>
      <td>{$vol.website}</td>
      <td>{$vol.addr}</td>
      <td><img src="__ROOT__/{$vol.logo}" width="100"></td>
      <td>
	      <button class="delseries btn btn-primary">
	      操作
	      </button>
	      <!-- <input type="hidden" class="seriesID" value="{$vol.id}"> -->
      </td>
    </tr>
  </volist>
  <!-- <tr>
    <td colspan="5">
    <div class="pager align_center">
        {$page_show}
    </div>
      </td>
  </tr> -->
  </tbody>
</table>
</div>
<script type="text/javascript">
// $(function(){
// 	$('.delseries').click(function(){
// 		if (confirm('确认删除?')) {
// 			var id = $(this).next('.seriesID').val();
// 			$.ajax({
// 				type:'get',
// 				dataType:'text',
// 				url:'__URL__/delSeries/id/'+id,
// 				success:function(data){
// 					//alert(data)
// 					if (data==1) {
// 						location.reload();
// 					}else{
// 						alert('参数错误');
// 					}
// 				}
// 			})
// 		}
// 	})	
// })
</script>
</body>
</html>